---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        {% assign titles = page.title | split: "/" %}
        {% assign show_title = "标题" %}
        {% if titles.size > 1 %}
            {% assign show_title = titles[site.lan_index] %}
        {% else %}
            {% assign show_title = titles[0] %}
        {% endif %}
        <h1>{{show_title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    {{site.content_desc[site.lan_index]}}
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
